.new-tweet {
  background-color: lightgrey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  padding: 5px;
  margin: 5px 2em;
}

.new-tweet h2 {
  border-bottom: 2px solid red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.new-tweet textarea {
  padding: 2px;
  width: 100%;
}

.new-tweet input[type=submit] {
  color: brown;
}

.counter {
  color: blue;
  float: right;
}

.exceded{
  color: red;
  float: right;
}

.error{
  color: red;
  display: none;
}

.tweet {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  margin: 5px 2em;
  border: 1px solid black;
  opacity: 0.5
}

.tweet header {
  background-color: lightgrey;
  border-radius: 10px 10px 0px 0px;
}

.user-name {
  font-size: 20px;
  float: left;
  position: absolute;
  padding: 10px 0px 0px 5px;
}

.user {
  float: right;
  padding: 10px 10px 0px 0px;
}

.tweet footer {
  border-top: 1px solid black;
  padding: 0px 2px 5px 10px;
}

.tweet header img {
  border-radius: 10px;
  padding: 5px;
}

.the-tweet {
  font-size: 20px;
  padding: 10px;
}

.tweet:hover {
  opacity: 1;
}

.interaction {
  display: none;
  float: right;
}

.tweet:hover .interaction {
  display: inline;
}