// new-tweet.scss

.new-tweet {
  background-color: lightgrey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  padding: 5px;
  margin: 5px 2em;
  h2 {
    border-bottom: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  textarea {
    padding: 2px;
    width: 100%;
  }
  input[type=submit] {
    color: brown;
  }
}

.counter {
  color: blue;
  float: right;
}

.exceded{
  color: $alert-color;
  float: right;
}

.error{
  color: $alert-color;
  display: none;
}

.tweet {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  margin: 5px 2em;
  border: 1px solid black;
  opacity: 0.5;
  header {
    background-color: lightgrey;
    border-radius: 10px 10px 0px 0px;
  }
  footer {
    border-top: 1px solid black;
    padding: 0px 2px 5px 10px;
  }
  header img {
    border-radius: 10px;
    padding: 5px;
  }
  &:hover {
    opacity: 1;
  }
  &:hover .interaction {
    display: inline;
  }
}

.the-tweet {
  font-size: 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

.interaction {
  display: none;
  float: right;
}

.user-name {
  font-size: 20px;
  float: left;
  position: absolute;
  padding: 10px 0px 0px 5px;
}

.user {
  float: right;
  padding: 10px 10px 0px 0px;
}
